<div class="container">
  <div class="row">

    <div class="col-xs-7 padded">
      <h2>Code de l'éducation - Article L111-1</h2>
      <p class="text-justify">
        L'éducation est la première priorité nationale. Le service public de l'éducation est conçu et organisé en fonction des élèves et des étudiants. Il contribue à l'égalité des chances et à lutter contre les inégalités sociales et territoriales en matière de réussite scolaire et éducative. <a href="#" class="amendment">Il reconnaît que tous les enfants partagent la capacité d'apprendre et de progresser.</a> Il veille à l'inclusion scolaire de tous les enfants, sans aucune distinction. Il veille également à la mixité sociale des publics scolarisés au sein des établissements d'enseignement. Pour garantir la réussite de tous, l'école se construit avec la participation des parents, quelle que soit leur origine sociale. Elle s'enrichit et se conforte par le dialogue et la coopération entre tous les acteurs de la communauté éducative.
      </p>
    </div>

    <div class="col-xs-5 hidden side-border padded" id="amendment_details">
      <h3>Amendement n°57</h3>
      <p>Auteur: blablabla</p>
      <p>Statut: <span>Adopté</span></p>
      <p>Objet: blablabla</p>
      <p>Date: xx/xx/xxxx</p>
    </div>

  </div>
</div>

<%= content_for :after_js do %>
  <% javascript_tag do %>
    $(document).ready(function() {
      $('.amendment').on('click', function() {
        $('#amendment_details').toggleClass('hidden');
        $('.amendment').toggleClass('bg-active');
      })
    })
  <% end %>
<% end %>